header, main {
    max-width: 1240px;
    margin: auto;
}

/* NAVIGATION STUFF GOES HERE  */
nav{
    button{display: none;}
    justify-self: end;
    ul, ul.open{ 
        position: relative;
        display: flex;
        width: auto;
        background-color: transparent;
    }

    ul li{
        border: none;
    }

    ul li a{
        color: #333;
        border-radius: 20px; 
        padding: .5rem 1rem;
        margin-left: 1rem;
        transition: all .5s ease;
    }
    ul li a:hover{
        background-color: #eee;
        color: #333!important;
    }
    ul li.active a{
        color: white;
    }
}

header{
    grid-template-columns: 51px auto auto;
    background-color: transparent;
}



// Create the for loop
@for $i from 1 through 12 {
    $w: calc($i /12) *100%;
    .large-#{$i} {flex-basis: $w}
}