/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* BODY  */
body {
	font-family: $defaultFont;
	font-size: 16px;
	font-weight: $lightWeight;
    min-width: 320px;
}


/* HEADER  */
header {
    display: grid;
    grid-template-columns: 51px auto;
    align-items: center;
	padding: .5rem 2vw;
	h1 {
        font-size: 1.6rem;
        font-weight: $lightWeight;
        padding-left: .5rem;
        color: $primaryColor;
    }
} // end header

/* NAVIGATION STUFF GOES HERE  */
nav{
    button{
        position: absolute;
        top: 0;
        right: 0;
        background: transparent;
        border: none;
        font-size: 1.5rem;
        color: #333;
        padding: .5rem 2vw .5rem 1rem;
    }

    ul{
        background-color: $menuColor;
        position: absolute;
        right: 0;
        width: 100%;
        display: none;
    }

    ul.open{
        display: block;
    }
    ul li{border-bottom: 1px solid rgba(0, 0, 0, .1);}

    ul li a{
        display: block;
        padding: .9rem 2vw;
        font-weight: $lightWeight;
        color: rgba(255,255,255,.9);
        text-decoration: none;
        text-align: right;
    }
}


ul li.active a{
    background-color: darken($menuColor, 8%);
}
ul li a:hover{
    background-color: darken($menuColor, 4%);
}














/* MAIN  */
main {
 	p {padding: .5rem 2vw; color: #333; line-height: 125%;}
	h1 {
        padding: 1rem 2vw .5rem 2vw; 
        font-size: 1.5rem; 
        color: $secondaryColor;
        font-weight: $lightWeight
    }
    .hero {width: 100%;}
    .hero img {
        width: 100%;
        height: auto;
    }
} // end main

main img{
    width: 100%;
    height: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 0;
    padding: 0 8px;
}

.column{
    padding: 0 8px;
    margin: 8px 0;
}

// Create the for loop
@for $i from 1 through 12 {
    $w: calc($i /12) *100%;
    .small-#{$i} {flex-basis: $w}
}

.line, .round, .fill, .shadow{
    padding: 8px 8px;
}
.line{border: 1px #eee solid;}
.round{border-radius: 9px;}
.fill{background-color: #333; color: white;}
.shadow{box-shadow: 0 0 10px #eee;}


.fill p{
    color: white;
}
/* FOOTER  */
#footerWrapper {background-color: #1b1b1b; }
footer {
    font-size: .85rem;
	padding: 1rem 0;
	color: #bbb;
	text-align: center;
	a{color: #eee;}
}
